[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
twine = "*"

[packages]
fa2 = "==0.3.5"
matplotlib = "==3.1.1"
ndex2 = "==3.2.0"
networkx = "==2.3"
pandas = "==0.25.0"
python-igraph = "==0.7.1.post6"
requests = "==2.22.0"
seaborn = "==0.9.0"
tqdm = "==4.35.0"
auto-graph-visualizer = {editable = true,path = "."}

[requires]
python_version = "3.7"
